beautifulsoup4==4.9.3
beautifultable==1.0.1
cchardet==2.1.7
certifi==2020.12.5
chardet==3.0.4
click==7.1.2
cssselect==1.1.0
fake-useragent==0.1.11
Flask==1.1.2
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
lxml==4.6.2
MarkupSafe==1.1.1
PyMySQL==1.0.2
pyquery==1.4.3
requests==2.24.0
soupsieve==2.2
urllib3==1.25.11
wcwidth==0.2.5
Werkzeug==1.0.1

future~=0.18.2
openpyxl~=3.0.6
yagmail~=0.14.245
tqdm~=4.59.0